@model List<ScheduleReport.Models.Group>
@{
   ViewBag.Title = "Index";
}

@if(TempData["GroupMessage"] != null)
{
   <script>
       window.onload = function () {
            alert("@TempData["GroupMessage"]");
        };
   </script>
    TempData["GroupMessage"] = null;
}

@if(TempData["EditGroup"] != null)
{
   <script>
       window.onload = function () {
           showEditGroupModal('@Url.Action("Edit", "Group", new { groupId = TempData["EditGroup"] })');
        };
   </script>
}

<div class="row">
    @Html.ActionLink("<", "Index", "Home", null, new { @class = "btn btn-default" } )
    <button class="btn btn-primary" onclick="showCreateGroupModal('@Url.Action("Create", "Group")')")>Thêm nhóm</button>
</div>

<div class="group-main-content">
    <div class="row">
        @if (Model.Count == 0)
        {
        <div class="group-main-preview">
            <p>No data to show</p>
        </div>
        }
        else
        {
            foreach (var models in Model)
            {
            <div class="group-main-preview">
                <div class="row">
                    <h3>@models.Name</h3>
                    <p>@models.Date.ToString("dd/MM/yyyy")</p>
                    <p>Số lượng thành viên: @models.CountUser()</p>
                </div>
                <div class="row" style="text-align:right; margin-right:10px;">
                    <button class="btn btn-info" onclick="showAddMemberModal('@Url.Action("AddMember", "Group", new { groupId = models.Id })')">Thêm thành viên</button>
                    <button class="btn btn-info" onclick="showEditGroupModal('@Url.Action("Edit", "Group", new { groupId = models.Id })')">Xem chi tiết</button>
                </div>
            </div>
            }
        }
    </div>
</div>

<div class="modal fade" id="createGroupModal">
    <div class="modal-dialog">
        <div class="modal-content" id="createGroupContent">
        </div>
    </div>
</div>

<div class="modal fade" id="editGroupModal">
    <div class="modal-dialog">
        <div class="modal-content" id="editGroupContent">
        </div>
    </div>
</div>

<div class="modal fade" id="addMemberModal">
    <div class="modal-dialog">
        <div class="modal-content" id="addMemberContent">
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        function showCreateGroupModal(url) {
            $('#createGroupContent').load(url);
            $('#createGroupModal').modal('show');
        }

        function showEditGroupModal(url) {
            $('#editGroupContent').load(url);
            $('#editGroupModal').modal('show');
        }

        function showAddMemberModal(url) {
            $('#editGroupModal').modal('hide');
            $('#addMemberContent').load(url);
            $('#addMemberModal').modal('show');
        }

    </script>
}

